<!DOCTYPE html>
<html>
<body background="#3eb5b3">

<h1 align = "center"> Know the Trends! </h1>
<figure>
  <img src="cgpa.png" alt="Trulli" style="width:100%">
  <figcaption> How important are GRE Scores?</figcaption>
</figure>

<figure>
  <img src="" alt="Trulli" style="width:100%">
  <figcaption> How important are GRE Scores?</figcaption>
</figure>

<figure>
  <img src="" alt="Trulli" style="width:100%">
  <figcaption> How important are GRE Scores?</figcaption>
</figure>

</body>
</html> 
